---
title: Reproducible software experiments through semantic configurations
---
<main>
<article about="" typeof="schema:Article" markdown="1">
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>[<sup>1</sup>](#idlab)
- <%= person 'Joachim Van Herwegen', '#', 'https://data.verborgh.org/people/joachim_van_herwegen' %>[<sup>1</sup>](#idlab)
- <%= person 'Sarven Capadisli', 'http://csarven.ca/', 'http://csarven.ca/#i' %>[<sup>2</sup>](#eisd)
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>[<sup>1</sup>](#idlab)

{:#affiliations}
- {:#idlab} <sup>1</sup>IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec
- {:#eisd}  <sup>2</sup>Enterprise Information Systems Department,
            University of Bonn

<%= section 'abstract' %>

{:.actions}
- [notification inbox](https://linkedsoftwaredependencies.org/notifications/inbox/){:rel="ldp:inbox"}
- [annotation service](https://linkedsoftwaredependencies.org/notifications/inbox/){:rel="oa:annotationService"}

</header>

<section id="main">
  <%= section 'introduction'  %>
  <%= section 'related-work'  %>
  <%= section 'modules'       %>
  <%= section 'components'    %>
  <%= section 'instantiation' %>
  <%= section 'use-case'      %>
  <%= section 'conclusion'    %>
</section>

<footer>

<section id="document-interactions">
  <h2>Interactions</h2>
  <div></div>
  <p class="instructions">
    In order to add comments or annotations,
    please use the button on the top right of this page.
  </p>
</section>
</footer>
</article>
</main>
