---
title: Reproduceable software experiments through semantic configurations
---
<header markdown="1">
# <%= @item[:title] %>

<%= section 'abstract' %>
</header>

<main>
  <%= section 'introduction'  %>
  <%= section 'related-work'  %>
  <%= section 'overview'      %>
  <%= section 'modules'       %>
  <%= section 'components'    %>
  <%= section 'instantiation' %>
  <%= section 'use-case'      %>
  <%= section 'conclusion'    %>
</main>
